.thirty {
    max-width: 30%;
}

.seventy {
    max-width: 70%;
}

.fiftyfifty {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.bgdarko {
    background-color: #1a1a1a !important;
}

.bgdarkish {
    background-color: #313131 !important;
    border-color: #777777 !important;
}

.jetsetfont1 {
    font-family: 'Concert One', cursive;
}