.thirty {
    max-width: 30%;
}

.seventy {
    max-width: 70%;
}

.sitecheckcard {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.bgdarko {
    background-color: #1a1a1a !important;
}

.bgdarkish {
    background-color: #313131 !important;
    border-color: #777777 !important;
}

.jetsetfont1 {
    font-family: 'Concert One', cursive;
}

.badgeCard {
    background-color: purple;
}

.badgeContent {
    margin: 0 auto;
    padding: 10px 15px;
    float: left;
}

p {
    color: white;
    font-size: 10pt;
    font-style: oblique;
    text-transform: uppercase;
    
    padding: 0;
    margin: 0;
}

.site-screen {
    width: 100%;
    height: auto;
    border: 1px solid #FFF;
    display: inline-block;
    border-radius: 3px;
    margin: 0 0 15px 0;
}

.heightz {
    height: 40px;
}

.inputz {

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}
.btn-gray { color: #AAA; background: #666; }
.btn-gray:hover { color: #CCC; background: #999; }
.btn-claim { margin: 10px 0 0 0; width: 100%; }